@font-face {
    font-family: 'Volter';
    src: url('../fonts/Volter.ttf') format('truetype');
}

@font-face {
    font-family: 'Volter Bold';
    src: url('../fonts/Volter_Bold.ttf') format('truetype');
}
