* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Volter", sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
    list-style: none;
    image-rendering: pixelated;
    font-size: 9px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
    transform: translateZ(0);
    backface-visibility: hidden;

}

html, body {
    background: #424242;
    height: 100%;
}

b {
    font-family: "Volter Bold", sans-serif;
    font-size: 9px;
    font-weight: 500;
}
